{% extends 'base.html' %}
{% block title %}
Thêm thành viên
{% endblock %}
{% block page_content %}
  <div class="card container mt-4">
    <div class="text-center">
      <p class="mt-2 f-s-30px">Thêm thành viên vào {{name_tree}}</p>
    </div>
    <div class="">

      <div class="form-group row m-l-10p">
        <label for="NameMem" class="f-s-20 mr-3">Nhập tên thành viên:</label>
        <input  class="form-control col-7" id="NameMem" name="username"placeholder="Tên thành viên">
      </div>
      <div class="form-group row m-l-10p">
        <label class="mr-4">Nhập mật khẩu:</label>
        <input type="text" name="user_password" class="form-control col-7" value="" id="MK"placeholder="Mật khẩu thành viên"> <br>
      </div>
    </div>
    <div class="mb-3 text-center mt-2">
      <button type="submit" class="btn btn-info m-r-60p">Thêm</button>
      <button type="button" class="btn btn-danger" name="button">
        <a href="/">Xong</a>
      </button>
    </div>
  </div>
{% endblock %}
