.font-logo{
  font-family: 'Indie Flower', cursive;

  color: white;
  font-size: 25px;
}
.f-s-14{
  font-size: 14px;
}
.m-r-40p{
  margin-right: 300px;
}
.m-l-50p{
  margin-left: 60px;
}
.m-r-20p{
  margin-right: 300px;
}
.m-l-40p{
  margin-left: 40px;
}
.m-l-400p{
  margin-left: 400px;
}
.f-ris{
  font-family: 'Risque', cursive;
  font-size: 18px;
}
.m-t-150p{
  margin-top: 150px;
  height: 50px;
}
.f-s-20p{
  font-size: 19px;
}
.m-l-300p{
  margin-left: 300px;
}
.m-l-f{
  margin-left: 150px;
}
.b-w-40p{
  border-width: 1px;
  border-color: red;
  border-style: groove;
}

.b-c{
  border: 1px;
  border-style: solid;
}
.b-img{
  border-bottom: 2px #ecbb25 solid;
}
.f-s-30px{
  font-size: 30px;
}
.m-r-60p{
  margin-right: 300px;
}
.m-l-30p{
  margin-left: 30px;
}
.m-l-20p{
  margin-left: 62px;
}
.m-l-10p{
  margin-left: 130px;
}
.m-l-1{
  margin-left: 490px;
}
.m-l-3p{
  margin-left: 35px;
}
.m-l-5{
  margin-left: 15px;
}
.m-l-p{
  margin-left: 32px;
}
.m-l-c{
  margin-left: 12px;
}
.m-l-pc{
  margin-left: 40px;
}
.m-r-1{
  margin-right: 300px;
}
