{% extends 'base.html' %}

{% block page_content %}
    <h2 class="text-success">Câu hỏi cho nhóm cây {{name_tree}}</h2>
    <h3 class="text-primary" > Câu hỏi về thành viên {{answer_shows.username}} trong nhóm</h3>

    <form class="container" method="post">

        <label>{{ answer_shows.content }}</label><br>
        <label>{{ answer_shows.answer1 }}</label><br>
        <label>{{ answer_shows.answer2 }}</label><br>
        <label>{{ answer_shows.answer3 }}</label><br>
        <label>{{ answer_shows.answer4 }}</label><br>

      <input type="text" name="right_answer" class="form-control" value="" placeholder="Đáp án"> <br>
      <input type="submit" value="Nhập câu hỏi">
    </form>

{% endblock %}
